<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8885b3">  <td>12/06/01 13:06:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChargifyTest.adjust()[pri:0, instance:com.jon.chargify.ChargifyTest@779b04e2]">adjust</td> 
  <td>main@1784636163</td>   <td></td> </tr>
<tr bgcolor="8885b3">  <td>12/06/01 13:06:28</td>   <td>2941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChargifyTest.charge()[pri:0, instance:com.jon.chargify.ChargifyTest@779b04e2]">charge</td> 
  <td>main@1784636163</td>   <td></td> </tr>
<tr bgcolor="8885b3">  <td>12/06/01 13:06:29</td>   <td>4327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChargifyTest.getCustomers()[pri:0, instance:com.jon.chargify.ChargifyTest@779b04e2]">getCustomers</td> 
  <td>main@1784636163</td>   <td></td> </tr>
<tr bgcolor="8885b3">  <td>12/06/01 13:06:30</td>   <td>4945</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChargifyTest.refundFailure()[pri:0, instance:com.jon.chargify.ChargifyTest@779b04e2]">refundFailure</td> 
  <td>main@1784636163</td>   <td></td> </tr>
<tr bgcolor="8885b3">  <td>12/06/01 13:06:30</td>   <td>5289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChargifyTest.refundSuccessfull()[pri:0, instance:com.jon.chargify.ChargifyTest@779b04e2]">refundSuccessfull</td> 
  <td>main@1784636163</td>   <td></td> </tr>
</table>
